.img{
  width:10rem;
  height: 10rem;
  mix-blend-mode: darken;
}
.wrapper{
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
}

.main{
  min-height: 90vh;
  padding-bottom: 3rem;
  padding-top: 1rem;
}

.active{
  position: relative;
  z-index: 1;
  background: rgba(57, 55, 72, 0.22);
}

.imgList{
  width: 10rem;
  display: flex;
  flex-direction: column;
}

.imgList button{
  background:none;
  border:none
}
.chosen{
  max-width: 100%;
  height: auto;
  mix-blend-mode: darken;

}

.div{
  width:40%
}

.add{
  width: 30%;
}

.choose{
  border: 1px solid #1D1F22;
  width:fit-content;
  margin: 0.5rem;
}

.flex{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.color{
  width:3rem;
  height: 3rem;
  opacity: 0;
  margin:0;
  cursor: pointer;
}


.attributes{
  width: 3rem;
  height: 3rem;
  border: 1px solid #1D1F22;
  margin:0.5rem;
}
.span{
  display: block;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top:-3.2rem;
  pointer-events: none;
  text-align: center;
  height: 3.2rem;

}

.attributes input:checked ~ .span {
  background-color: #1D1F22;
  color:white;
}

.choose input:checked ~ .span{
  border:2px solid red;
}

.button{
  background-color: #5ECE7B;
  color:white;
  border:none;
  width: 15rem;
  height: 3rem;
  cursor: pointer;
}

.attributeName{
  font-weight: 700;
  margin-bottom:0;
}

.brand{
  font-weight: 600;
  font-size:1.5rem
  
}

.name{
  font-weight: 400;
  font-size:1.5rem
}

.price p {
  font-weight: 700;
  
}



