.img{
  width:inherit;
  height: 10rem;
  mix-blend-mode: darken;
  padding:0;
}
.wrapper{
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
}

.main{
  min-height: 90vh;
  padding-top: 1rem;
  box-sizing: border-box;
}

.active{
  position: relative;
  z-index: 1;
  background: rgba(57, 55, 72, 0.22);
  pointer-events: none;
}

.imgList{
  width: 12rem;
  display: flex;
  flex-direction: column;
  height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;
}


.imgList button{
  background:none;
  border:none
}
.chosen{
  max-width: 100%;
  mix-blend-mode: darken;

}

.description{
  max-height: 50vh;
  overflow: auto;
}

.div{
  width:40%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
}

.add{
  width: 30%;
}

.choose{
  border: 1px solid #1D1F22;
  width:fit-content;
  margin: 0.5rem;
}

.flex{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.color{
  width:3rem;
  height: 3rem;
  opacity: 0;
  margin:0;
  cursor: pointer;
}


.attributes{
  width: 3rem;
  height: 3rem;
  border: 1px solid #1D1F22;
  margin:0.5rem;
}
.span{
  display: block;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top:-3.2rem;
  pointer-events: none;
  text-align: center;
  height: 3.2rem;

}

.attributes input:checked ~ .span {
  background-color: #1D1F22;
  color:white;
}

.choose input:checked ~ .span{
  border:2px solid #fe3b1f;
}

.button{
  background-color: #5ECE7B;
  color:white;
  border:none;
  width: 15rem;
  height: 3rem;
  cursor: pointer;
}

.attributeName{
  font-weight: 700;
  margin-bottom:0;
}

.brand{
  font-weight: 600;
  font-size:1.5rem
  
}

.name{
  font-weight: 400;
  font-size:1.5rem
}

.noStock{
  opacity: 0.5;
}

.message{
  width: inherit;
  text-align: center;
  font-size: 2rem;
  position: absolute;
  color:#8D8F9A;
}

.price p {
  font-weight: 700;
}

@media screen and (min-width: 1440px) {
  .main {
    font-size:1rem;
    padding-top:1rem;
  }
}

@media screen and (max-width: 800px) {
  .wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .img{
    width: inherit;
    height: 5rem;
  }
  .imgList{
    width: 20%;
    height: 50vh;
  }

  .imgList button {
    display: flex;
  }
  .div{
    width: 80%;
    display: flex;
    justify-content: center;
  }
  .add{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
 }



