.img{
  width: 18rem;
  height:18rem;
}
.main{
  min-height: 90vh;
  margin-bottom: 3rem;
}

.products{
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: start;
  flex-wrap:wrap;
  flex-grow: 1;
}

.product{
  margin: 1rem 3rem;
}

.title{
  margin-left: 5rem;
}

.link{
  text-decoration: none;
  color:#1D1F22;
}

.name{
  font-weight: 300;
}

.product p{
  font-size: 1rem;
}