.img{
  height:18rem;
  margin: 0 auto;
  mix-blend-mode: darken;
}
.main{
  min-height: 90vh;
  padding-bottom: 3rem;
}

.products{
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: start;
  flex-wrap:wrap;
  flex-grow: 1;
}

.product{
  width: fit-content;
  margin: 0 auto;
}

.title{
  margin-left: 5rem;
  margin-top: 0;
  padding-top: 2rem;
  text-transform: capitalize;
}

.link{
  text-decoration: none;
  color:#1D1F22;
  margin: 1rem 3rem;
  width: 18rem;
  display: flex;
  flex-direction: column;
}

.name{
  font-weight: 300;
}

.product p{
  font-size: 1rem;
}

.noStock{
  opacity: 0.5;
  
}
.noStock::after{
  content: 'OUT OF STOCK';
}

.message{
  width: inherit;
  text-align: center;
  position: absolute;
  margin-top:-10rem;
  margin-left:5rem;
  color:#8D8F9A;
}

.active{
  position: relative;
  z-index: 1;
  background: rgba(57, 55, 72, 0.22);
}

@media screen and (max-width: 800px) {
  .products{
    justify-content: center;
  }
  .title{
    margin-left:3rem;
  }
  .link{
    margin:0;
  }
  .img{
    width: 16rem;
  }
}