.nav{
  display: flex;
  width: 25%;
  justify-content: space-around;
}

.header{
  display: flex;
  justify-content: space-between;
  height: 10vh;
  align-items: center;
}

.cart{
  display: flex;
  width: 25%;
  justify-content: center;
}

.dropdown {
  background: none;
  border: none;
  width:2rem;
}


